.nav {
  display: flex;
  height: 43px;
  background: white;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}
.menu {
  display: flex;
}
.special {
  color: #71a89e;
}
.header {
  padding: 6px 64px;
  font-weight: 700;
}
.link {
  padding: 26px;
  color: black;
  list-style: none;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.toggle {
  cursor: pointer;
  color: white;

  display: none;
}
@media (max-width: 600px) {
  .nav {
    display: flex;
    width: 100%;
    justify-content:space-around;
    margin: 0;
  }
  .header img {
    padding-left: 20px;
  }
  .toggle {
    width: 99px;
    background-color: #f9f9f9, 100%;
    color: #22322f;
    display: block;
    padding: 22px 9px;
    margin-right: 24px;
    font-size: 12px;
    font-weight: 700;
    justify-content: center;
  }
  .menu {
    height: 50vh;
    align-items: center;
    top: 26vh;
    right: 0;
    left: 0;
    justify-content: center;
    position: relative;
    background-color: #e7fffb;
    padding: 20px;
    transition: transform 0.5s ease-in;
    display: block;
    transform: translateX(-600px);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #888888;
  }
  .link {
    font-size: 32px;
    color: green;
    padding: 20px;
    border-bottom: 2px solid whitesmoke;
  }
  .active {
    transform: translate3d(0%);
  }
  .bars {
    display: flex;
    flex-direction: row;
    width: 56px;
    background-color: white;
    border-radius: 5px;
    font-family: sans-serif;
    padding: 4px;
  }
  .bars img {
    margin: 0;
  }
  .bars span {
    font-weight: 700;
  }
}
