.nav {
  display: flex;
  height: 43px;
  background: red;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.menu{
    
    display: flex;
    justify-content: space-evenly;
}
.header{
    padding: 20px;
}
.link {
  padding: 40px;
  color: white;
  list-style: none;
}

@media (max-width: 600px) {
  .menu a {
    display: none;
  }
  .toggle {
    display: block;
  }
}
