.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Helvetica Neue;
}

.main {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 120px;
  font-family: Helvetica Neue;
}
.img {
  width: 617px;
  height: 694px;
  object-fit: cover;
  max-block-size: 657px;
  display: none;
}
.img2 {
  width: 617px;
  height: 694px;
  object-fit: cover;
  max-block-size: 657px;
}
.title {
  padding-right: 50px;
  width: 551px;
}
.title h2 {
  align-items: Left;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
}
.title p {
  padding-top: 24px;
  width: 551px;
  font-size: 24px;
  font-weight: 400;
}
.btn {
  width: 222px;
  height: 67px;
  border-radius: 8px;
  background-color: #71a89e;
  padding: 20px, 24px, 20px, 24px;
  color: white;
  font-size: 18px;
  margin-top: 24px;
  border: 2px solid black;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .container {
    margin: 15px;
    width: 100%;
  }
  .main {
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px;
    padding: 24px;
    justify-content: center;
  }

  .img {
    width: 308px;
    height: 330px;
    object-fit: cover;
    max-block-size: 308px;
    display: block;
    margin-bottom: 48px;
  }
  .img2 {
    display: none;
  }
  .title {
    margin-bottom: 45px;
    align-items: Left;
    padding-right: 32px;
    width: 100%;
  }
  .title h2 {
    font-weight: 400;
    font-size: 27px;
    line-height: 43px;
  }
  .title p {
    font-size: 16px;
    width: 314px;
    line-height: 25.6px;
  }
  .btn {
    width: 203px;
    height: 67px;
    font-size: 16px;
    padding: 24px, 10px, 24px, 10px;
  }
}
