.nav {
  display: flex;
  height: 43px;
  background: white;
  width: 95%;
  margin: 0.5rem;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}
.menu {
  display: flex;padding: 0px;
}
.special {
  color: #71a89e;
}
.header {
  padding: 6px 64px;
  font-weight: 700;
}
.header:hover{
  font-size: 250%;
  cursor: pointer;
}
.link {
  padding: 26px;
  color: black;
  list-style: none;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.link:hover{
  font-size: 100%;
}
.toggle {
  cursor: pointer;
  color: white;

  display: none;
}
@media (max-width: 950px){
  .link {
  padding: 0.5rem;
  color: rgb(31, 29, 29);
  list-style: none;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 20px;
}
  .bars {
    display: flex;
    flex-direction: row;
    margin-left: 0.5rem;
    background-color: white;
    border-radius: 7px;
    font-family: sans-serif;
    padding: 0.5rem 1.3rem;
    display: block;
    
  }
   .bars span {
    padding-left: 0px;
    font-weight: 700;
    font-size: 1rem;
  }

}
@media (max-width: 750px) {
  .nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 0;
  }
  .header{
    padding: 0;
  }
  .header img {
    padding-left: 0px;
  }
  .toggle {
    width: 4rem;
    background-color: #f9f9f9, 100%;
    display: block;
    margin-right: 0rem;
    font-size: 1.7rem;
    font-weight: 700;
    justify-content: center;
  }
  .menu {
    height: 50vh;
    align-items: center;
    top: 26vh;
    right: 0;
    left: 0;
    justify-content: center;
    position: relative;
    background-color: #e7fffb;
    padding: 3rems;
    transition: transform 0.5s ease-in;
    display: none;
    transform: translateX(-600px);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #888888;
  }
  .link {
    font-size: 32px;
    color: green;
    padding: 20px;
    border-bottom: 2px solid whitesmoke;
  }
  .active {
    transform: translate3d(0%);
  }
  .bars {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    background-color: white;
    border-radius: 7px;
    font-family: sans-serif;
    padding: 6px 5px;
    display: block;
  }
  .bars img {
    margin: 0;
  }
  .bars span {
    padding-left: 10x;
    font-weight: 700;
    font-size: 12px;
  }
}
